body{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(88, 99, 255));
    color: white;
    background-repeat: no-repeat;
    min-height: 100%;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 48pt;
    -webkit-text-stroke: 1px rgb(255, 208, 0);
    color: rgba(60, 94, 245, 0.712);
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;

        border: 2pt solid  rgb(255, 208, 0);
 }

 .container{
     background-color:  rgb(255, 208, 0);
 }