
html{
    min-height: 100%
}

body{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(88, 99, 255),rgb(0, 0, 0));
    color: white;
    background-repeat: no-repeat;
    min-height: 100%;
    color: rgb(255, 208, 0);
}

.title {
    text-align: left;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 48pt;
    -webkit-text-stroke: 1px rgb(255, 208, 0);
    color: rgba(60, 94, 245, 0.712);
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;

        
 }
#FormNav{
    border: 2pt solid  rgb(255, 208, 0);
    text-align: left;
    
}
 #FormOptions{
     
     float: right;
 }

 #search-form{
     padding-top: 25px;
 }
 .container{
     text-align: left;
 }

 .movieList:hover{
     cursor: pointer;
     background-color:  rgba(255, 208, 0, 0.418);
     color: white;
     text-shadow: 2px 2px black;
 }

 #results{
     text-align: left;
     min-width: 60%;
     margin-right: 1%;
     margin-left: 10%;
 }

 body{
     text-align: center;
 }

 input{
     background-color: transparent;
     color: white;
 }

 .tableHead{
     font-weight: bold;
     font-size: 16pt;
     text-shadow: 2px 2px black;
 }

 button{
     background-color: rgb(255, 208, 0);
 }

 #currentMovieImage{
    height: 200px;
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(255, 196, 0, 0.541), 0 10px 20px 0 rgba(255, 255, 255, 0.377);
 }

 #displayImage{
    
    height: 210px;
    width: 210px;

    
    float:right;
    margin-right: 5%;
}

#forms{
    width:50%;
    float:left;
    text-align: left;
}

#bigContainer{
    
    
}


 
